body{
    overflow-y: hidden;
    background-color: black;
}
#background{
    position: relative;
    background: url("/img/78812fd262025d24e53452a1307bbb6d\ \(1\).png");
    width:700px;
    height:400px;
    overflow-x: hidden;
    background-size: cover; 
    /* margin: 5rem auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    overflow-y: hidden;
    z-index: 0;
    filter:drop-shadow(1px 1px 7px white)

}
@keyframes yoni{
    100%{transform: translateX(-1100px);}
    
}
@keyframes noni{
   
    0%{transform: translateY(0px);}
    30%{transform: translateY(5px);}
    50%{transform: translateY(10px);}
    75%{transform: translateY(5px);}
    50%{transform: translateY(1px);}
}

#road{
    background: url("/img/side-view-road-roadside-desert-260nw-1467479009.jpeg");
    width:1900px;
    height:100px;
    animation: yoni 4s linear infinite;
    position: absolute;
    top:330px;
    left:0%;
    background-repeat: repeat-x;
    display: block;
    overflow-y: hidden;
    

}
/* #dacar{
    width:500px;
    height: 25px;
    background: url("/E743C0C1-9B90-4A5B-A001-4497C6BB2DBD.PNG");
    

} */

.playerc{
    width:100px;
  
    background: url("/img/E743C0C1-9B90-4A5B-A001-4497C6BB2DBD.PNG");
    position: absolute;
    left:10px;
    top:250px;
    animation: noni 600ms linear infinite;
    transition: 500ms;
    z-index: 10;
    filter:drop-shadow(1px 1px 7px white)
    
}


@keyframes hop{
    0%{top:250px;}
    30%{top:130px;}
    50%{top:70px;}
    50%{top:70px;}
    70%{top:150px;}
    100%{top:250px;}

}

.jump{
    
    width:100px;
    position: absolute;
    left:150px;
    /* bottom:5%; */
    animation: noni 1s linear infinite;
    animation: hop 300ms  linear ;
    transition: 500ms;
    filter:drop-shadow(1px 1px 7px white)
}

#score1{
    position: relative;
    top:-170px;
    left:200px;
    color:wheat;
}
#score{
    position: relative;
    top:-170px;
    left:330px;
    color:wheat;
}

.obsclass{
    width:100px;
    height:80px;
    position:relative;
    top:125px;
    left:600px;
    z-index: 1;
    animation: yoni 3s linear infinite;
    filter:drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.768))
    
}


.obsclass1{
    width:100px;
    height:80px;
    position:relative;
    top:125px;
    left:600px;
    z-index: 1;
    animation: yoni 4s linear infinite;
    filter:drop-shadow(1px 1px 7px rgba(0, 0, 0, 0.768)) 
    
}

.gamestatus{
    margin: auto;
    color:rgb(255, 0, 0);
    position: absolute;
    top:600px;
    left: 200px;
    font-size: 50px;
    width:400px;
    height:70px;
    z-index: 50;
} 
.gamewinstatus{
    margin: auto;
    color:wheat;
    position: absolute;
    top:600px;
    left: 150px;
    font-size: 40px;
    width:400px;
    height:70px;
    z-index: 50;
} 
/* .welcome{
    background: rgba(255, 0, 0, 0.339);
    width:1800px;
    height:1700px;
    position: relative;
    z-index: 30;
} */
#button{
    left:300px;
    top:500px;
    position: absolute;
    height:50px;
    width: 100px;
    border-radius: 50%;
    transition: 1s;
    color:rgb(31, 171, 160);
    background-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#button:hover{
    left:270px;
    top:500px;
    position: absolute;
    height:90px;
    width: 190px;
    border-radius: 10%;
    background: url("/img/IMG_4627.jpg");
    background-size: cover;
    color:rgb(255, 255, 255);
    font-size: 20px;
    border:0px;


}
#clouds{
    width: 2000px;
    height: 300px;
    background: url("/img/10DFEFA3-9648-4F60-95AC-7204664608F4.PNG");
    /* position: relative; */
    top:-100px;
    left: 100px;
    animation: yoni 25s linear infinite;
    position: absolute;
    background-repeat: repeat-x;
    overflow-y: hidden;
    z-index: -10;
   
}
